.body-content {
    padding-top: 20px;
}

@media (min-width: 768px) {
    .body-content {
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        height: 100%;
    }	
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    color: #594C41;
}

p, div {
   font-family: 'Crimson Text', serif;
}
